<div id="home-banner" class="wow fadeInDown" data-wow-delay="0.2s" data-wow-duration="0.75s">
	<a href="{{settings.home_banner_url}}">
		<img src="{{'home_banner_img.jpg' | asset_url}}" alt="{{settings.home_banner_alt}}" />
	</a>
</div>
