<div id="preloader" class="preloader-wrapper">
	<div class="preloader">
		<div class="preloader-logo text-center">
			<img src="{{'logo.png' | asset_url}}" alt="{{shop.title}}" />
		</div>
		<div class="lines">
			<div class="line line-1"></div>
			<div class="line line-2"></div>
			<div class="line line-3"></div>
		</div>

		<div class="loading-text">LOADING</div>
	</div>
</div>
